<center>
  <h1 style="font-family: Arial, sans-serif; font-size: 32px;">
    -- Exemplo de Algoritmo Apriori --
  </h1>
</center>

# Step 1: Instalar as dependencias(caso nao tenha instalado)
- pip install mlxtend --quiet

In [ ]:
# Se for rodar dentro do vs code direto
import sys
!{sys.executable} -m pip install mlxtend --quiet

In [1]:
import warnings
warnings.filterwarnings("ignore")  # oculta todos os warnings (inclusive DeprecationWarning)

import pandas as pd

from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [5]:
# 1. Base de transações
transacoes = [
    ['Leite', 'Pão', 'Manteiga'],
    ['Leite', 'Fralda', 'Cerveja', 'Ovos'],
    ['Pão', 'Manteiga', 'Fruta'],
    ['Leite', 'Pão', 'Fralda', 'Manteiga'],
    ['Pão', 'Fralda', 'Ovos'],
    ['Leite', 'Pão', 'Manteiga', 'Ovos'],
    ['Cerveja', 'Fralda', 'Pão'],
    ['Leite', 'Pão', 'Fralda', 'Cerveja'],
    ['Leite', 'Pão', 'Manteiga'],
    ['Pão', 'Fruta', 'Manteiga']
]
print("BASE DE TRANSAÇÕES:")

for i, t in enumerate(transacoes, start=1):
    print(f"T{i}: {t}")

# 2. Transformar em matriz One-Hot
te = TransactionEncoder()
df_bool = te.fit(transacoes).transform(transacoes)
df = pd.DataFrame(df_bool, columns=te.columns_)


print("\nMatriz One-Hot (itens x transações):")
display(df.head())

# 3. Rodar Apriori com suporte mínimo de 30%
min_support = 0.3
frequent_itemsets = apriori(df, min_support=min_support, use_colnames=True)

# Adicionar tamanho dos conjuntos (para separar L1, L2, L3)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(len)
print(f"\nItens frequentes encontrados (suporte mínimo = {min_support*100:.0f}%):")
display(frequent_itemsets.sort_values(by=['length', 'support'], ascending=[True, False]))

# 4. Mostrar conjuntos frequentes por tamanho
print("L1 (1-itemsets frequentes):")
display(frequent_itemsets[frequent_itemsets['length'] == 1])
print("L2 (2-itemsets frequentes):")
display(frequent_itemsets[frequent_itemsets['length'] == 2])

print("L3 (3-itemsets frequentes):")
display(frequent_itemsets[frequent_itemsets['length'] == 3])


# 5. Gerar regras de associação
regras = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
regras = regras.sort_values(by="confidence", ascending=False)

print("\nRegras de associação (confiança = 70%):")
display(regras[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

# 6. Mostrar regras mais fortes
print("\nRegras mais fortes (ordenadas por confiança):")

for _, row in regras.iterrows():

    ant = ', '.join(list(row['antecedents']))
    cons = ', '.join(list(row['consequents']))
    print(f"| {ant} | {cons} | suporte={row['support']:.2f}, confiança={row['confidence']:.2f}, lift={row['lift']:.2f}")

BASE DE TRANSAÇÕES:
T1: ['Leite', 'Pão', 'Manteiga']
T2: ['Leite', 'Fralda', 'Cerveja', 'Ovos']
T3: ['Pão', 'Manteiga', 'Fruta']
T4: ['Leite', 'Pão', 'Fralda', 'Manteiga']
T5: ['Pão', 'Fralda', 'Ovos']
T6: ['Leite', 'Pão', 'Manteiga', 'Ovos']
T7: ['Cerveja', 'Fralda', 'Pão']
T8: ['Leite', 'Pão', 'Fralda', 'Cerveja']
T9: ['Leite', 'Pão', 'Manteiga']
T10: ['Pão', 'Fruta', 'Manteiga']

Matriz One-Hot (itens x transações):

   Cerveja  Fralda  Fruta  Leite  Manteiga   Ovos    Pão
0    False   False  False   True      True  False   True
1     True    True  False   True     False   True  False
2    False   False   True  False      True  False   True
3    False    True  False   True      True  False   True
4    False    True  False  False     False   True   True

Itens frequentes encontrados (suporte mínimo = 30%):

    support                itemsets  length
5       0.9                   (Pão)       1
2       0.6                 (Leite)       1
3       0.6              (Manteiga)       1
1       0.5                (Fralda)       1
0       0.3               (Cerveja)       1
4       0.3                  (Ovos)       1
11      0.6         (Pão, Manteiga)       2
10      0.5            (Leite, Pão)       2
8       0.4           (Fralda, Pão)       2
9       0.4       (Leite, Manteiga)       2
6       0.3       (Fralda, Cerveja)       2
7       0.3         (Leite, Fralda)       2
12      0.4  (Leite, Pão, Manteiga)       3

L1 (1-itemsets frequentes):

   support    itemsets  length
0      0.3   (Cerveja)       1
1      0.5    (Fralda)       1
2      0.6     (Leite)       1
3      0.6  (Manteiga)       1
4      0.3      (Ovos)       1
5      0.9       (Pão)       1

L2 (2-itemsets frequentes):

    support           itemsets  length
6       0.3  (Fralda, Cerveja)       2
7       0.3    (Leite, Fralda)       2
8       0.4      (Fralda, Pão)       2
9       0.4  (Leite, Manteiga)       2
10      0.5       (Leite, Pão)       2
11      0.6    (Pão, Manteiga)       2

L3 (3-itemsets frequentes):

    support                itemsets  length
12      0.4  (Leite, Pão, Manteiga)       3

Regras de associação (confiança = 70%):

         antecedents consequents  support  confidence      lift
0          (Cerveja)    (Fralda)      0.3    1.000000  2.000000
3         (Manteiga)       (Pão)      0.6    1.000000  1.111111
5  (Leite, Manteiga)       (Pão)      0.4    1.000000  1.111111
2            (Leite)       (Pão)      0.5    0.833333  0.925926
1           (Fralda)       (Pão)      0.4    0.800000  0.888889
4       (Leite, Pão)  (Manteiga)      0.4    0.800000  1.333333

Regras mais fortes (ordenadas por confiança):
| Cerveja | Fralda | suporte=0.30, confiança=1.00, lift=2.00
| Manteiga | Pão | suporte=0.60, confiança=1.00, lift=1.11
| Leite, Manteiga | Pão | suporte=0.40, confiança=1.00, lift=1.11
| Leite | Pão | suporte=0.50, confiança=0.83, lift=0.93
| Fralda | Pão | suporte=0.40, confiança=0.80, lift=0.89
| Leite, Pão | Manteiga | suporte=0.40, confiança=0.80, lift=1.33